.main{
    
  margin-left:auto;
margin-right:auto;
width:1000px;
height:100%; 
}
#find{ 
    width:50%;
    height:inherit;
    margin-top:200px; 
    float:left;
    background-color: red;
}

#result{ 
    width:50%;
    height:inherit;
    margin-top:200px; 
    float:left;
    background-color:orangered;
}